#products {
  padding: 50px 0;
  .products {
    &__title {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  }
}
