.header {
  .sub__header {
    height: 30px;
    background-color: #ddd7;
    margin-bottom: 20px;
    &__content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__location {
      display: flex;
      align-items: center;
      gap: 10px;
      &__city,
      &__punkt {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 400;
        svg {
          font-size: 20px;
        }
        span {
          text-decoration: underline;
          font-weight: 400;
        }
      }
    }
    &__description {
      font-size: 14px;
      color: #8b8e99;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 14px;
      p {
        font-size: 15px;
        color: #595b66;
      }
      p:nth-child(1) {
        color: #7000ff;
      }
      &__lang {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        .lang__button {
          display: flex;
          align-items: center;
          gap: 8px;
          background-color: transparent;
        }
        .sub__header__lang__dropdown {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%);
          width: 120%;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          z-index: 1;
          padding: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: -1;
          opacity: 0;
          transition: 0.2s;
        }
        .show__lang__dropdown {
          opacity: 1;
          z-index: 1;
          top: 120%;
        }
        p {
          color: #1f2026;
        }
        img {
          width: 18px;
          height: 18px;
          border-radius: 40px;
        }
      }
    }
  }
  .nav {
    height: 44px;
    margin-bottom: 10px;
    &__content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      display: flex;
      align-items: center;
      gap: 6px;
      height: 100%;
      img {
        width: 220px;
        height: 100%;
      }
    }
    &__center {
      display: flex;
      gap: 8px;
      .nav__katalog__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: #f0f0ff;
        color: #7000ff;
        font-weight: 500;
        svg {
          font-size: 20px;
        }
      }
      .nav__search__box {
        width: 520px;
        display: flex;
        align-items: center;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        .nav__search {
          padding: 10px;
          padding-left: 16px;
          font-size: 16px;
          width: 100%;
        }
        .search__btn {
          height: 100%;
          width: 90px;
          background-color: #f2f4f7;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: #595b66;
        }
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 10px;
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 4px;
        color: #000;
        background-color: transparent;
        cursor: pointer;
        svg {
          font-size: 22px;
          color: #000;
        }
      }
      &__item:hover {
        background-color: #ddd;
      }
    }
  }
  .sup__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    p {
      font-size: 14px;
      color: #595b66;
      cursor: pointer;
      font-weight: 400;
    }
    p::after {
      content: "";
      display: block;
      width: 0;
      height: 1.5px;
      background-color: #000;
      transition: 0.3s;
      margin-top: 5px;
    }
    p:hover::after {
      width: 100%;
    }
    p:hover {
      color: #000;
    }
  }
}
